# Compiled object files
*.o

# Executables and dependables
plaidsh
tk
p
Test

# Test
setup_playground.sh
plaidsh_test.py

# Editor and IDE files
.vscode


# Linux and macOS swap files
*.swp

# Windows-specific files
Thumbs.db

#txt 
*.txt
