# Compiled object files
*.o

# Executables and dependables
plaidsh
tk
p
Test
simple.sh
*.log
Plaid Shell Playground
*.gch
input
output
glob.c

# Test
setup_playground.sh
plaidsh_test.py

# Editor and IDE files
.vscode


# Linux and macOS swap files
*.swp

# Windows-specific files
Thumbs.db

#txt 
*.txt
